{% extends "base.html" %}

{% block content %}
<div class="container my-1h">
    <p class="strong">Login example</p>
    <p>Login as a user to re render the page and see the logged in users details</p>
    <form method="post" novalidate>
        {{ form }}
        <button type="submit" class="button button-primary">Login</button>
    </form>

    <pre id="response">
request.user: {{ request.user }}
request.user.is_authenticated: {{ request.user.is_authenticated }}
request.user.display_name: {{ request.user.display_name }}
request.user.instance: {{ request.user.instance }}</pre>

    {% if request.user.is_authenticated %}
        <p>Logout to see the details for the user have been cleared</p>
        <a class="button button-primary" href="{{ url_for('auth:logout') }}">Log Out</a>
    {% endif %}
</div>
{% endblock %}

