/* variables */

// typography
$base-font-family:              "Roboto", sans-serif;
$code-font-family:              "Inconsolata", monospace;

// colors
$colors: (
  "primary": rgb(69, 80,179)
);

// forms
$input-use-full-width:          true;