{% extends "base.html" %}

{% block content %}
<div class="container my-1h">
    <p class="strong">JWT example</p>
    <p>Login as a user to get a valid token</p>
    <form method="post" novalidate>
        {{ form }}
        <button type="submit" class="button button-primary">Login</button>
    </form>
    <div class="h3">Response</div>
    <pre id="response">login...</pre>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
    document.querySelector('form').addEventListener('submit', function(e) {
        e.preventDefault();
        var XHR = new XMLHttpRequest();

        var data = {
            email: document.getElementById('form-loginschema-email').value,
            password: document.getElementById('form-loginschema-password').value
        };

        XHR.addEventListener('load', function(event) {
            document.getElementById('response').innerHTML = event.srcElement.response;
        });

        XHR.addEventListener('error', function(event) {
            document.getElementById('response').innerHTML = event.srcElement.response;
        });

        XHR.open('POST', '{{ url_for('example:token') }}');
        XHR.setRequestHeader('Content-Type', 'application/json');
        XHR.send(JSON.stringify(data));
    });
</script>
{% endblock %}
