{% extends "base.html" %}

{% block content %}
<div class="container my-1h">
    <p class="strong">User list</p>
    <table class="table-bordered table-headed table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td><a href="{{ url_for('example:user', id=user.id) }}">{{ user }}</a></td>
                <td>{{ user.display_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}